@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    /* background: rgba(30, 30, 30, 0.92); */
    z-index: 100;
}

header .heading {
    margin-left: 8rem;
    color: #ffff;
    font-size: 2.5rem;
    font-family: 'Inika', serif;
}

header .heading a{
    text-decoration: none;
    color: black;
}

header #menu-icon {
    display: none;
}

header .navbar {
    margin: 8rem;
    transform: translateX(0%);
}

header .navbar a {
    color: black;
    list-style-type: none;
    text-decoration: none;
    padding-right: 2.2rem;
    font-size: 1.2rem;
    font-family: 'Inika', serif;
    font-weight: 200;
}

section {
    min-width: 100vh;
}

.hero .video-wrapper {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.92);
    /* backdrop-filter: blur(40px); */
    /* filter:blur(4px); */
}

.hero #construction-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: white; 
    font-size: 7rem; 
    font-weight: bold; 
    z-index: 2; 
    font-family: 'Dela Gothic One', cursive;
    animation: fade-in 1s ease-in-out;
    width: 100%;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.down-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.down-icon a{
    color: black;
    position: relative;
    margin: 2rem;
    font-size: 3rem;
    cursor: pointer;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 58px;
    background: rgba(110, 99, 86, 0.85);
    height: 40vh;
    max-width: fit-content;
    word-wrap: break-word;
    margin: 0rem 5rem 5rem 5rem;
    /* z-index: 3; */
}

.welcome .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    word-wrap: break-word;
}

.welcome .txt h2 {
    font-size: 4rem;
    font-family: 'Marcellus', serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.welcome .txt span {
    color: white;
    /* word-wrap: break-word; */
}

.welcome .txt h5 {
    margin: 1rem 2rem 1rem 2rem;
    font-size: 2rem;
    font-weight: 100;
    color: #ffff;
    text-align: center;
    font-family: 'Marcellus', serif;
    word-wrap: break-word;
}


.welcome .txt a button {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.welcome .txt a{
    text-decoration: none;
}

.welcome .txt a button:hover {
    background: rgba(30, 30, 30, 0.92);
    color: #ffff;
}

.welcome .txt a button i {
    margin-left: 5px;
    font-size: 1.2rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    border-radius: 2rem 2rem 0 0;
    background: rgba(30, 30, 30, 0.92);
    color: #ffffff;
    gap: 30vw;
    font-size: 1.7rem;
    font-family: 'Inika', serif;
}

footer .copyright{
    display: flex;
    /* justify-content: flex-start; */
}

footer .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}
footer .links .nav-bar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2rem;
}

footer .links .nav-bar a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
}

footer .links .another-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2rem;
}

footer .links .another-link a{
    color: #FFF;
    text-decoration: none;
    font-size: 1.3rem;
}

footer .links .social-media{
    line-height: 2rem;
}

footer .links .social-media h5,a{
    font-size: 1.5rem;
}

footer .links .social-media {
    display: flex;
    flex-direction: column;
}

footer .links .social-media a{
    display: inline-block; 
    font-size: 2rem;
}

@media (max-width:1540px){
    
    .text-overlay h3 {
        font-size: 5.5rem;
    }

    .welcome {
        height: 50vh;
    }

}

@media (max-width:1280px) {

    body{
        overflow-x: hidden;
    }

    header .heading {
        margin-left: 2rem;
    }

    header #menu-icon{
        display: block;
        color:black;
        font-size: 1.9rem;
        float: right;
        padding-right: 1.2rem;
    }

    header .navbar{ 
        position: absolute;
        top: -3.6rem;
        left: -8rem;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(197, 226, 225, 0.92);
        /* display: none; */
        transform: translateX(100%);
        transition: 0.5s ease;
    }

    header .navbar .active{
        transform: translateX(0%);
    }

    header nav a {
        display: block;
        font-size: 1.2rem;
        margin: 1rem 3%;
    }

    .text-overlay h3 {
        position: absolute;
        top: -10rem;
        /* left: 40rem; */
        /* color: #ffffff; */
        font-size: 5rem;
        
    }

    .welcome {
        height: 60vh;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        gap: 10vh;
        font-size: 1.4rem;
    }
}

@media (max-width:750px){
    body{
        overflow-x: hidden;
    }

    .hero #construction-video {
        width: 100%;
        height: 100%;
        object-fit:fill;
    }

    .welcome {
        height: 55vh;
        margin: 0rem 2rem 3rem 3rem;
    }

    .welcome .txt h2 {
        font-size: 3rem;
    }
        
    .welcome .txt h5 {
        font-size: 1.7rem;
    }
    

    .text-overlay h3 {
        position: absolute;
        display: flex; 
        justify-content: center; 
        align-items: center; 
        top: -10rem; 
        font-size: 4rem;
        font-weight: 100;
        text-align: center;
    }


    .down-icon a{
        position:relative;
        margin: 0rem; 
        font-size: 2.5rem;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;
        font-size: 1.3rem;
    }

    footer .links{
        display: flex;
        flex-direction: column;
        float: left;
        gap: 5vh;
    }

    footer .links .nav-bar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    footer .links .another-link{
        display: flex;
        align-items: center;
        justify-content: center ;
    }

    footer .links .social-media {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
    }

    footer .links .social-media a{
        font-size: 2rem;
    }
}

@media (max-width:650px){
    .welcome {
        height: 70vh;
        /* margin: 0rem 2rem 3rem 3rem; */
    }

    .welcome .txt h2 {
        font-size: 3rem;
        /* margin: 0.5rem 0rem 0.5rem 0rem; */
        margin: 0.5rem 4rem 0.5rem 3rem;
    }

    /* .welcome .txt h5{
        
    } */
        
    .welcome .txt h5 span{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width:450px){
    .welcome {
        height: 75vh;
        /* margin: 0rem 2rem 3rem 3rem; */
    }

    .welcome .txt h2 {
        font-size: 2rem;
        margin: 0.5rem 4rem 0.5rem 3rem;
    }

    .welcome .txt h5{
        margin-bottom: 1.5rem;
    }
        
    .welcome .txt h5 span{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
}
